.formuser_container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(87, 71, 238, 0.829);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formuser_container2 {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(194, 124, 67, 0.829);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.reg {
    font-size: 25px;
    width: 18.58rem;
    margin-top: 0.1rem;
    text-align: center;
}
.reg2 {
    font-size: 25px;
    width: 18.58rem;
    margin-top: -0.5rem;
    text-align: center;
}
.formuser {
    width: 105%;
    height: 280px;
    max-width: 300px;
    padding: 1.5em 1em 2.5em;
    border-radius: 0.7em;
    background-color: white;
}
.formuser2 {
    width: 100%;
    height: 200px;
    max-width: 300px;
    padding: 1.5em 1em 2.5em;
    border-radius: 0.7em;
    background-color: white;
}
.formuser_group {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-bottom: 0.8em;
}
.formuser_group2 {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-bottom: 0.8em;
}
#priI {
    min-width: 450px;
    width: 90px;
    height: 450px;
    padding-right: 0.5rem;
    margin-right: 1rem;
}
#priI2 {
    min-width: 450px;
    width: 90px;
    height: 600px;
    padding-right: 0.5rem;
    margin-right: 1rem;
}
.goL {
    display: flex;
    font-size: 20px;
    padding: 5px;
    width: 18rem;
    margin-left: 1rem;
    justify-content: center;
    background-color: wheat;
    border: 1px solid red;
}
.goR {
    display: flex;
    font-size: 20px;
    padding: 4px;
    width: 20rem;
    background-color: wheat;
    border: 1px solid red;
}
.formuser_label {
    font-size: 1.2rem; 
    margin-left: 0.3em;
}
.formuser_label2 {
    font-size: 1.2rem; 
    margin-left: 0.3em;
}
.formuser_input {
    padding: 0.4em 0.8em;
    border-radius: 0.5em;
    border: 0.1em solid #aaa;
}
.formuser_input2 {
    padding: 0.4em 0.8em;
    border-radius: 0.5em;
    border: 0.1em solid #aaa;
}
.formuser_btn {
    width: 100%;
    font-size: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(128, 247, 128);
    color: black;
}
.formuser_btn2 {
    width: 100%;
    font-size: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(27, 167, 148);
    color: black;
}
